* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

:root {
    --white-color: #ffffff;
    --main-color: #DC030F;
    --black-color: #000000;
    --footer-color: #757575;
}

.container-section {
    width: 100%;
    height: 100vh;
    /* background-image: url('/img/Bg_img.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/img/Bg_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.container-section .navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

}

.container-section .navbar-main .navbar-brand-logo h2 {
    font-size: 2.7rem;
    color: var(--main-color);
    margin-left: 2.5rem;
}

.container-section .navbar-main .right ul {
    display: flex;
}

.container-section .navbar-main .right ul li {
    list-style-type: none;
    margin-right: 2.6rem;
}

.container-section .navbar-main .right ul li button {
    padding: 8px 15px;
    margin-left: .2rem;
    background-color: var(--main-color);
    font-size: 15.33px;
    color: var(--white-color);
    border: 1px solid var(--main-color);
}

.container-section .navbar-main .right ul li select {
    padding: 8px 15px;
    margin-left: 1rem;
    background-color: #000000;
    color: #ffffff;
}

.container-section .wrapper {
    color: var(--white-color);
    text-align: center;
    width: 900px;
}

.container-section .wrapper .content .hero-title {
    font-weight: 600;
    font-size:3.5em;
}

.container-section .wrapper .content .hero-para {
    font-size: 1.8rem;
    margin: 5px 0 10px 0;
}

.container-section .wrapper .content .hero-description {
    font-size: 1.6rem;
    margin-top: 4px;
}

.container-section .wrapper .from-section {
    margin-top: 15px;
    width: 100%;
}

.container-section .wrapper .from-section input[type=email] {
    height: 48px;
    width: 70%;
}

.container-section .wrapper .from-section input[type=email]::placeholder {
    padding-left: 7px;
    color: #8c8c8c;
    font-size: 14px;
}

.container-section .wrapper .from-section input[type=email]:focus {
    outline: none;
}

.container-section .wrapper .from-section button {
    padding: 12.2px 45px;
    background-color: var(--main-color);
    color: var(--white-color);
    border: 1px var(--main-color);
    margin-left: -4px;
}

/* ::::::::::::::::::::::::::::::::Feature -  1:::::::::::::::::::::::::::  */
.features-1 {
    border-top: 8px solid #222;
    color: #ffffff;
    width: 100%;
    background-color: #000000;
}

.features-1 .feature-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.features-1 .feature-row .feature-left .feature-title {
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}

.features-1 .feature-row .feature-left .feature-subtitle {
    font-size: 23px;
    text-align: center;
}

.features-1 .feature-row .feature-right {
    position: relative;
}

.features-1 .feature-row .feature-right .feature-bg-vid-container {
    position: absolute;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    left: 13%;
    width: 100%;
    top: 20%;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::Feature 2 ::::::::::::::::::::::::::::::::: */


.feature-2 {
    background-color: #000000;
    color: #ffffff;
    border-top: 8px solid #222;
}

.feature-2 .feature-2-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    text-align: center;
}

/* .feature-2 .feature-2-row .feature-2-left .feature-image{
} */
.feature-2 .feature-2-row .feature-details {
    margin-top: 20px;
}

.feature-2 .feature-2-row .feature-2-right .feature-title {
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}

.feature-2 .feature-2-row .feature-2-right .feature-subtitle {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}


/* :::::::::::::::::::::::::::::::Feature 3::::::::::::::::::::::::::::: */
.feature-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 35px;
    flex-wrap: wrap;
    background-color: #000000;
    border-top: 8px solid #222;
    color: #ffffff;
}

.feature-3 .feature-details {
    text-align: center;
}

.feature-3 .feature-details .feature-title {
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}

.feature-3 .feature-subtitle {
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

.feature-3 .feature-img-container {
    position: relative;
    z-index: 2;
}

.feature-3 .feature-img-container .feature-bg-vid-container {
    position: absolute;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    left: 16%;
    width: 100%;
    top: 10%;
    z-index: 0;
}

.feature-3 .feature-img-container .feature-bg-vid-container .feature-bg-vid {
    width: 425px;
    z-index: 2;
}

/* :::::::::::::::::::::::::::::::Feature 4::::::::::::::::::::::::::::: */

.feature-4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 35px;
    flex-wrap: wrap;
    background-color: #000000;
    border-top: 8px solid #222;
    color: #ffffff;
}

.feature-4 .feature-details {
    text-align: center;
}

.feature-4 .feature-details .feature-title {
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}

.feature-4 .feature-subtitle {
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

/* ::::::::::::::::::::::::FAQ AREA :::::::::::::::::::::::: */
.accordion-button::after {
    background-image: url('/img/img_268998.png');
    transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("/img/minus-512.webp");
    background-color: #303030;
    color: #ffffff;
}

.container-fluid {
    background-color: #000000;
    border-top: 8px solid #222;
}

.container-fluid .row .col-md-8 .accordion .accordion-item {
    background-color: #303030;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400;
}

.container-fluid .row .col-md-8 .accordion .accordion-item .accordion-button {
    color: var(--white-color);
    background-color: #303030;
}

.container-fluid h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.container-fluid .from-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* margin-top: 15px; */
    width: 50%;
    margin-bottom: 20px;
}

.container-fluid .from-section input[type=email] {
    height: 48px;
    width: 70%;
}
.container-fluid .from-section input[type=email]::placeholder{
    padding-left: 4px;
    color: #8c8c8c;
    font-size: 14px;
}

.container-fluid .from-section input[type=email]:focus {
    outline: none;
}

.container-fluid .from-section button {
    padding: 12px 45px;
    background-color: var(--main-color);
    color: var(--white-color);
    border: 1px var(--main-color);
}



/* ::::::::::::::::Footer Section:::::::::::::: */
#footer-section .row .col-md-2 p select {
    background-color: #000000;
    color: var(--white-color);
    padding: 10px 15px;
}

#footer-section .row .col-md-2 p a {
    color: var(--footer-color);
}

#footer-section .row #footer-title {
    color: var(--footer-color);
}

#footer-section .row #footer-title a {
    color: var(--footer-color);
}
